<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.umayahara.example.sampleaadroid_group_japan22458"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider android:name="jp.umayahara.example.sampleaadroid_group_japan22458.BrowserProvider" android:authorities="jp.umayahara.example.sampleaadroid_group_japan22458" />
        <activity
            android:name="jp.umayahara.example.sampleaadroid_group_japan22458.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.umayahara.example.sampleaadroid_group_japan22458.WebBrowserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="WebBrowserProvider/SecureBrowser"/>
            </intent-filter>
        </activity>
    </application>

</manifest>